@import './Variables.scss';

.Accueil {
  height: 100vh;
  margin-left: 3%;
  margin-right: 3%;

  h1 {
    font-size: 5em;
    padding-top: 10%;
    margin-bottom: 1%;

    span {
      color: $accent;
    }
  }

  .desc {
    margin-top: 5%;
    display: flex;
    align-items: baseline;

    p, div {
      width: 40%;
      font-size: 1.2em;
      span {
        color: $accent;
      }
      span:first-child {
        font-size: 1.3em;
      }
    }

    div.listeAime {
      margin-left: 5%;
      display: flex;
      align-items: baseline;

      ul {
        list-style: none;

        li {
          padding-bottom: 2%;
        }
      }
    }
  }
}

// Tablettes
@media screen and (max-width: #{$screen-md-max}) {
  .Accueil {
    height: 100%;

    .desc {
      flex-direction: column;

      p {
        width: 100%;
        font-size: 24px;
      }

      div.listeAime {
        margin: 0;
        width: 100%;
      }
    }
  }
}

// Cellulaires
@media screen and (max-width: #{$screen-sm-max}) {
  .Accueil {
    height: 100%;

    h1 {
      padding-top: 15%;
      font-size: 3em;
    }

    h4 {
      font-size: 2em;
    }

    .desc {
      flex-direction: column;

      p {
        width: 100%;
        font-size: 16px;

        span:first-child {
          font-size: 1.5em;
        }
      }

      div.listeAime{
        margin: 0;
        width: 100%;
      }
    }
  }
}