@import './Variables.scss';

.Appli {
  position: absolute;
  width: 100%;
  background-color: $primaire;
  font-family: $typoTexte;
  color: $couleur-textes;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $typoTitre;
    margin: 0;
  }

  h1 {
    font-size: 96px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 60px;
    letter-spacing: -0.5px;
  }

  h3 {
    font-size: 48px;
    letter-spacing: 0px;
  }

  h4 {
    font-size: 34px;
    letter-spacing: 0.25px;
  }

  h5 {
    font-size: 24px;
    letter-spacing: 0px;
  }

  h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
  }

  .btnTop {
    visibility: visible;
    position: sticky;
    background-color: $secondaire;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    float: right;
    opacity: 1;
    border: 0;
    color: $couleur-textes;
    transition: visibility 0.2s ease, opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    box-shadow: 3px 4px 11px 1px rgba(0, 0, 0, 0.452);

    &:hover {
      background-color: $accent;
      color: black;
    }

    &.cache {
      visibility: hidden;
      opacity: 0;
    }
  }

  .contenu-principal {
    .fondLightbox {
      z-index: 7;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.74);
      transform: translateY(0);
      transition: all 0.2s ease-in;

      &.sansFondLightbox {
        background-color: rgba(0, 0, 0, 0);
        transform: translateY(100vh);
      }
    }
  }
}