.ListeProjets{
  margin: 40px;
  height: 90vh;

  ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
  }

  h2 {
    padding-top: 10%;
  }
}