@import './Variables.scss';

.ListeProjets{
  margin: 40px;
  height: 100%;

  ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
  }

  h2 {
    padding-top: 10%;
  }

  &#ProjetsJeu{
    height: 90vh;
    margin-bottom: 100px;
  }
}

// Tablettes
@media screen and (max-width: #{$screen-md-max}) {
  .ListeProjets{
    h2 {
      font-size: 3em;
    }

    &#ProjetsJeu{
      height: 100%;
      margin-bottom: 0px;
    }
  }
}