@import './Variables.scss';

.Navigations{
  background-color: $primaire;
  position: fixed;

  .navBurger {
    display: none;
  }

  &.scoll {
    background-color: $secondaire;
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
  }

  .contenuNav {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 2%;
    transition: background-color 0.2s ease;

    .navPrincipale {
      list-style: none;
      font-family: $typoTitre;
      font-size: 2em;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      li {
        padding: 2%;

        &::after {
          display: block;
          content: '';
          width: 0%;
          height: 2px;
          background: $accent;
          transition: width 0.3s ease-in;
        }

        &:hover::after {
          width: 100%;
          color: $accent;
        }

        &.active {
          color: $accent;
        }

        a {
          color: $couleur-textes;
          text-decoration: none;

          &.active {
            color: $accent;
          }
        }

        &:hover > a {
          color: $accent;
        }
      }
    }

    .navUtil {
      right: 0;

      .btnContacts {
        color: $couleur-textes;
      
        &:hover {
          color: $accent;
        }
      }
    }
  } 
}

// Mobiles
@media screen and (max-width: #{$screen-sm-max}) {
  .Navigations {
    background-color: $secondaire;

    .navBurger {
      display: block;
      position: absolute;
      width: 100vw;
      background-color: $secondaire;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; 
      padding: 0 10px;
      top: 0;
      border-bottom: 1.5px solid $primaire;
      z-index: 3;

      h6 {
        font-size: 2em;
      }

      .b-menu {
        position: relative;
        float: right;
        height: 50px;

        .b-bun {
          position: relative;
          background: white;
          transition: all 0.5s ease;

          &--top {
            top: 10px;
            width: 50px;
            height: 3px;
          }

          &--mid {
            top: 22px;
            width: 50px;
            height: 3px;
          }

          &--bottom {
            top: 35px;
            width: 50px;
            height: 3px;
          }
        }

        &.menu-ouv {
          .b-bun--top {
            transform: rotate(45deg);
            background: white;
            top: 26px;
          }
          
          .b-bun--mid {
            opacity: 0;
          }

          .b-bun--bottom {
            transform: rotate(-45deg);
            background: white;
            top: 20px;
          }
        }
      }
    }

    .contenuNav {
      display: none;
      margin-top: 50px;
      flex-flow: column nowrap;
      height: 50%;
      opacity: 95%;
      justify-content: space-around;
      transform: translateX(100vw);
      background-color: $secondaire;
      transition: transform 2s ease-in;

      &.ouvreNav {
        display: block;
        transform: translateX(0);
        transition: transform 2s ease-in;
      }

      .navPrincipale {
        flex-flow: column nowrap;
      }

      .navUtil {
        padding: 0;
      }
    }
  }
}