@import './Variables.scss';

.Projet {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: $secondaire;

  &:hover{
    cursor: pointer;
  } 

  .couverture {
    .image {
      width: 100%;
      height: 194px;
    }
  }

  .descProjet {
    width: 90%;
    margin: 2%;

    button {
      background-color: $secondaire;
      color: $accent;
      border: $secondaire 3px solid;
      padding: 2%;
      font-family: $typoTexte;
      font-size: 1.1em;

      &::after {
        display: block;
        content: '';
        width: 0%;
        height: 2px;
        background: $accent;
        transition: width 0.3s ease-in;
      }

      &:hover::after {
        width: 100%;
        color: $accent;
      }
    
      &:hover {
        cursor: pointer;
      }
    }
  }
}