// Couleurs
$primaire: #312B31;
$secondaire: #50434F;
$accent: #FCA588;
$couleur-textes: #ffffff;

// Typographies
$typoTitre: 'Signika', sans-serif;
$typoTexte: 'Barlow', sans-serif;

// Media queries
$screen-sm-max: 480px;
$screen-md-max: 1024px;
$screen-xl-min: 1600px;