// Couleurs
$primaire: #0b0c10;
$secondaire: #0F0C24;
$accent: #a350a3;
$accent-fonce: #722174;
$accent-clair: #d67fd5;
$couleur-textes: #ffffff;

// Typographies
$typoTitre: 'Indie Flower', cursive;
$typoTexte: 'Barlow', sans-serif;